<nav class="bg-light">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link <%= path === '/' ? 'active' : ''%>" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= path.includes('/week2') ? 'active' : ''%>" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Week 2</a>
          <ul class="dropdown-menu bg-light">
            <li><a class="dropdown-item <%= path === '/week2' ? 'active' : ''%>" href="/week2">Shop</a></li>
            <li><a class="dropdown-item <%= path === '/week2/admin/add-product' ? 'active' : ''%>" href="/week2/admin/add-product">Add Product</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= path.includes('/week3') ? 'active' : ''%>" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Week 3</a>
          <ul class="dropdown-menu bg-light">
            <li><a class="dropdown-item <%= path === '/week3/ta03' ? 'active' : ''%>" href="/week3/ta03">Team Activity 03</a></li>
            <li><a class="dropdown-item <%= path === '/week3' ? 'active' : ''%>" href="/week3">Home</a></li>
            <li><a class="dropdown-item <%= path === '/week3/products' ? 'active' : ''%>" href="/week3/products">Products</a></li>
            <li><a class="dropdown-item <%= path === '/week3/cart' ? 'active' : ''%>" href="/week3/cart">Cart</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item <%= path === '/week3/admin/products' ? 'active' : ''%>" href="/week3/admin/products">Admin Products</a></li>
            <li><a class="dropdown-item <%= path === '/week3/admin/add-product' ? 'active' : ''%>" href="/week3/admin/add-product">Add Product</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= path.includes('/week4') ? 'active' : ''%>" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Week 4</a>
          <ul class="dropdown-menu bg-light">
            <li><a class="dropdown-item <%= path === '/week4/ta04' ? 'active' : ''%>" href="/week4/ta04">Team Activity 04</a></li>
            <li><a class="dropdown-item <%= path === '/week4' ? 'active' : ''%>" href="/week4">Home</a></li>
            <li><a class="dropdown-item <%= path === '/week4/products' ? 'active' : ''%>" href="/week4/products">Products</a></li>
            <li><a class="dropdown-item <%= path === '/week4/cart' ? 'active' : ''%>" href="/week4/cart">Cart</a></li>
            <li><a class="dropdown-item <%= path === '/week4/orders' ? 'active' : ''%>" href="/week4/orders">Orders</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item <%= path === '/week4/admin/products' ? 'active' : ''%>" href="/week4/admin/products">Admin Products</a></li>
            <li><a class="dropdown-item <%= path === '/week4/admin/add-product' ? 'active' : ''%>" href="/week4/admin/add-product">Add Product</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= path.includes('/week5') ? 'active' : ''%>" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Week 5</a>
          <ul class="dropdown-menu bg-light">
            <!-- <li><a class="dropdown-item <%= path === '/week5/ta04' ? 'active' : ''%>" href="/week5/ta05">Team Activity 05</a></li> -->
            <li><a class="dropdown-item <%= path === '/week5' ? 'active' : ''%>" href="/week5">Home</a></li>
            <li><a class="dropdown-item <%= path === '/week5/products' ? 'active' : ''%>" href="/week5/products">Products</a></li>
            <li><a class="dropdown-item <%= path === '/week5/cart' ? 'active' : ''%>" href="/week5/cart">Cart</a></li>
            <li><a class="dropdown-item <%= path === '/week5/orders' ? 'active' : ''%>" href="/week5/orders">Orders</a></li>
            <% if (!isAuthenticated) { %>
              <li><a class="dropdown-item <%= path === '/week5/login' ? 'active' : ''%>" href="/week5/login">Login</a></li>
              <li><a class="dropdown-item <%= path === '/week5/signup' ? 'active' : ''%>" href="/week5/signup">Signup</a></li>
            <% } else { %>
              <li><a class="dropdown-item <%= path === '/week5/logout' ? 'active' : ''%>" href="/week5/logout">Logout</a></li>
            <% } %> 
            <% if (isAuthenticated) { %>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item <%= path === '/week5/admin/products' ? 'active' : ''%>" href="/week5/admin/products">Admin Products</a></li>
            <li><a class="dropdown-item <%= path === '/week5/admin/add-product' ? 'active' : ''%>" href="/week5/admin/add-product">Add Product</a></li>
            <% } %> 
          </ul>
        </li>

      </ul>
</nav>